* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #8a307f;
    --secondary-color: #79a7d3;
    --tertiary-color: #6883bc;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* header/navigation styles start */
header {
    padding: 10px 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    margin: 20px 30px 0 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

/* leaving for now, try li to width 33% and li a padding to 80% */

header nav ul li a {
    padding: 10px 15px;
    margin: 0 15px ;
    font-weight: lighter;
    font-size: 1.25vw;
    border-top: 3px solid var(--secondary-color);
    text-align: center;
}
/* header/navigation styles end */

/* hero/jumbotron styles start */
.hero {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* hero/jumbotron styles end */

/*  about me styles start */
.about {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    margin-top: -5px;
    text-align: center;
}

.about h2 {
    font-size: 48px;
    border-bottom: 3px solid var(--primary-color);
    padding: 20px 0;
    margin: 0 auto;
    width: 50%;
}

.about p {
    line-height: 1.7;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
}

.about-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
}

.abut-img {
    width: 40%;
    text-align: right;
    margin: 3.5%;
    padding: 20px;
}

.about-info {
    width: 40%;
    text-align: left;
    margin: 3.5%;
}
/* about me styles end */

/* my work styles start */
.projects {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-align: center;
}

.projects h2 {
    font-size: 48px;
    border-bottom: 3px solid var(--primary-color);
    padding: 20px 0;
    margin: 0 auto;
    width: 50%;
}

.projects-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-project {
    flex: 1 1 100%;
    padding: 20px 0;
}

.main-project img {
    max-height: 600px;
}

.project {
    flex: 1 1 20%;
    padding-bottom: 20px;
}

.project img {
    max-height: 400px;
    width: 100%;
    padding: 5px;
}
/* my work styles end */

/* footer/contact me styles start */
.contact {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.contact h2 {
    font-size: 48px;
    border-right: 3px solid var(--secondary-color);
    padding: 20px 0;
    margin: 0;
    width: 20%;
}

.contact address {
    padding: 25px;
}

.contact address ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.contact address ul li {
    padding: 10px 15px;
    margin: 0;
    font-weight: lighter;
    line-height: 1;
    font-size: 1.55vw;
    text-align: center;
}

.contact address h3 {
    text-decoration: underline;
}

.contact address ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}
/* footer/contact me styles end */

/* utility styles start */

/* .caption {
    font-size: calc(16px + 0.5vw);
    text-align: left;
    margin: 0 auto 35px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 65%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: var(--secondary-color);
    color: red;
} */
/* utility styles end */


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    .project  {
       flex: 1 1 50%;
    }

    .contact {
        justify-content: space-around;
        text-align: center;
    }

    .contact address {
        padding: 5px;
        flex: 2 3 60%;
    }

    .contact address ul {
        justify-content: space-around;
    }

    .contact address ul li {
        flex: 0 1 40%;
        font-size: 15px;

    }

    .contact h2 {
        padding-right: 15px;
        flex: 3 2 33%;

    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    .main-project {
        flex: 1 1 75%;
    }

    .main-project img {
        max-height: 600px;
        width: 100%;
        padding: 10px;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .project {
        flex: 1 1 100%;
        padding: 20px;
    }

    .contact {
        flex-direction: column;
    }

    .contact h2 {
        flex: 1 1 100%;
        width: 100%;
        border-right: 0;
        border-bottom: 3px solid var(--secondary-color);
    }

}